* {
	font-family: "Helvetica Neue", sans-serif;
	color: white;
}

:root {
	background-color: #2e2e2f;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 16px;
}

p {
	margin: 0;
	font-size: 24px;
}

a {
	margin: 0;
	font-size: 24px;
	display: block;
}

.muted {
	color: gray;
}

input {
	background-color: transparent;
	border: none;
	font-size: 24px;
	padding: 0;
	display: block;
}

input::selection {
	background-color: gray;
	color: white;
}

input:active,
input:focus,
input:focus-visible {
	outline: none;
	caret-color: gray;
}

.glassButton {
	border: none;
	background-color: transparent;
	padding: 0;
	display: block;
	cursor: pointer;
	text-decoration: none;
	font-size: 24px;
}

.linkButton {
	border: none;
	background-color: transparent;
	padding: 0;
	display: block;
	cursor: pointer;
	font-size: 24px;
	text-decoration: underline;
}

.strike {
	text-decoration: line-through;
}

.todo {
	display: flex;
	flex-direction: row;
	gap: 4px;
}

.remove {
	display: none;
}

.todo:hover .remove {
	display: inline;
}
